{
  "parser": "babel-eslint",
  "extends": "fullstack/react",
  "root": true,
  "rules": {
    "semi": [1, "always"],
    "react/prop-types": "off",
    "react/display-name": "off",
    "class-methods-use-this": "off",
    "id-length": ["warn", { "exceptions": ["a", "b", "c", "x", "y", "i"] }]
  }
}
